* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    background-image: url(./img/Seminário-da-comunicação.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

img {
    width: 200px;
}

#ident {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ident h1 {
    margin-top: 10px;
}

#ident h2 {
    margin-top: 10px;
}

#ident p {
    margin-top: 10px;
}

#inform {
    margin-top: 25px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    text-align: center;
    margin-top: 25px;
    margin-right: 300px;
}

#orient {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-top: 50px;
}

#orient li {
    margin-top: 15px;
}

#form {
    margin-top: 25px;
    margin-bottom: 25px;
}

#dados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #EAECE5;
    width: 300px;
    height: 30px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    color: #FFFFFF;
    background-color: #fa663e;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background-color: #318FB8;
    color: #c0c0c0;
    transform: translateY(-5px);
    transition-duration: 0,5s;
    box-shadow: 0px 15px 20px #05103081;
}

@media (max-width: 1200px) {
    #text {
        margin-right: 200px;
    }

    input {
        width: 250px;
    }

    button {
        width: 200px;
    }
}

@media (max-width: 992px) {
    #text {
        margin-right: 100px;
    }

    input {
        width: 200px;
    }

    button {
        width: 150px;
    }
}

@media (max-width: 768px) {
    #text {
        margin-right: 50px;
    }

    input {
        width: 150px;
    }

    button {
        width: 120px;
    }
}

@media (max-width: 576px) {
    #text {
        margin-right: 0;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}